---
import type { CollectionEntry } from 'astro:content'
import profile from "../assets/profile.jpg"
import { Image } from 'astro:assets'
import { NAME } from '../consts'

type Props = CollectionEntry<'blog'>['data']

const props = Astro.props

const publishedDateString = props.pubDate.toLocaleDateString('en-us', {
    year: 'numeric',
    month: 'long',
    day: 'numeric',
})

const images = import.meta.glob<{ default: ImageMetadata }>('/src/assets/*.{jpeg,jpg,png,gif}');
if (props.heroImage)
    if (!images[props.heroImage]) throw new Error(`"${props.heroImage}" does not exist in glob: "src/assets/*.{jpeg,jpg,png,gif}"`);
---
<div class="flex flex-col justify-start text-start">
    <p class="text-muted mb-4">{publishedDateString}</p>
    <h1 class="text-4xl text-main font-bold mb-6">{props.title}</h1>
    {props.heroImage && props.heroWidth && props.heroHeight && props.heroAlt &&
        <Image
            src={images[props.heroImage]()}
            alt={props.heroAlt}
            width={props.heroWidth}
            height={props.heroHeight}
            densities={[1.5, 2]}
            loading="eager"
            class="rounded-lg mb-6"
        />
    }
    <a href="/" class="flex items-center gap-5 mb-6 text-muted w-fit" rel="author">
        <Image 
            src={profile}
            alt="Profile pic of me"
            class="rounded-md"
            width={40}
            height={40}
            densities={[1.5, 2]}
            loading="eager"
        />
        <p>By <span class="hover:text-primary underline">{NAME}</span></p>
    </a>
    <hr class="mb-6 border-main" />
</div>